/* Devices sizes */
/* Layout values */
footer {
  color: #fff;
  background-color: #002529;
  padding: 4.4rem 1.6rem 4.266666rem 1.6rem;
}

footer .footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
      grid-template-areas: "logo" "links" "address" "socials" "copyright";
}

footer .footer__container > img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 6.4rem;
  height: 1.6rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

footer .footer__container .links {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.6rem;
}

footer .footer__container .links li {
  font-weight: 600;
}

footer .footer__container .links li:first-child {
  margin-right: 1.6rem;
}

footer .footer__container address {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: address;
  text-align: center;
  margin-bottom: 2.666666rem;
}

footer .footer__container address p {
  font-style: normal;
  opacity: 0.6;
}

footer .footer__container address > p:not(:nth-child(4)) {
  margin-bottom: 1rem;
}

footer .footer__container .socials {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: socials;
  text-align: center;
}

footer .footer__container .socials img {
  margin-bottom: 1.066666rem;
}

footer .footer__container .socials img {
  width: 1.6rem;
  margin-right: 1.066666rem;
}

footer .footer__container .copyright {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: copyright;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 3.733333rem 2.666666rem;
  }
  footer .footer__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "logo address" "links address" "socials copyright";
  }
  footer .footer__container > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin: 0 0 3.533333rem 0;
  }
  footer .footer__container .links {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: links;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 2.133333rem;
  }
  footer .footer__container .links li:first-child {
    margin-right: 1.6rem;
  }
  footer .footer__container address {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: address;
    text-align: right;
    margin-bottom: 2.266666rem;
  }
  footer .footer__container .socials {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: socials;
    text-align: left;
  }
  footer .footer__container .socials img {
    margin-bottom: unset;
  }
  footer .footer__container .copyright {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: copyright;
    text-align: right;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    padding: 3.2rem 11rem;
  }
  footer .footer__container {
    -ms-grid-columns: 19rem 38rem auto;
        grid-template-columns: 19rem 38rem auto;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "logo address socials" "links address copyright";
  }
  footer .footer__container > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin-bottom: 1.666666rem;
    width: 10.666666rem;
    height: 2.666666rem;
  }
  footer .footer__container .links {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: links;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .footer__container .links li {
    font-size: 1.2rem;
  }
  footer .footer__container .links li:first-child {
    margin-right: 2.666666rem;
  }
  footer .footer__container address {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: address;
    text-align: left;
    margin-bottom: unset;
  }
  footer .footer__container address > p:not(:nth-child(4)) {
    margin-bottom: 0.866666rem;
  }
  footer .footer__container .socials {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: socials;
    text-align: right;
  }
  footer .footer__container .socials img {
    margin-bottom: unset;
  }
  footer .footer__container .copyright {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: copyright;
    text-align: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=footer.css.map */